body{
    background: black;

}
.timeline-area{
    margin: 80px auto ;
    width: 360px;
    border-left: 2px solid #ccc;
    padding: 0 20px 0 30px ;
}
div{
    background-color: #fff;
    padding: 5px 25px;
    font-size: 16px;
    border: 1px solid #ccc;
    line-height: 1.7;
    position: relative;
    height: 290px;
    margin-bottom: 20px;

}

div:before{
    content :'';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    border: 3px solid #ddd;
    position: absolute;
    top: 10px;
    left: -40px;
}

div:after{
    content:'';
    width: 0;
    height: 0;
    border-style: solid ;
    border-color:transparent #ddd transparent transparent ;
    border-width: 8px;
    position: absolute ;
    left: -17px;
    top: 10px;
}

div h2{
    margin: 0;
    text-transform: uppercase;
    font-family: merienda;
    color: #000;

}

div h3{
    margin: 0;
    font-family: poppins;

}

div h4{
    margin: 0;
    font-family: poppines;
    color: #000;

}

hr {   
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 7%;
  }
  
h1{
    font-style: italic;
    color: #ddd;
    text-align: center;
    font-size: 50px;
   
}
h2{
  
    color: #ddd;
    text-align: center;
}
h3{
    font-style: italic;
    color: #ddd;
    text-align: center;
   

}
h5{
    color: #ddd;
    font-family:poppins,serif ;
    font-weight: 100;
    font-size: 2.7ch;
    text-align: left;
}
p{
    color: #fff;
    text-align:center;
    font-size: 2.2ch;
}
img{
    margin-top: 5px;
    margin-left: 25%;
    display: flex;
    align-items: center;
}
